<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <title>Trang Sinh Viên - Đại học Nguyễn Tất Thành</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #fff;
        }

        header {
            background-color: #1c0c76;
            color: #fff;
            padding: 10px;
            text-align: center;
        }




        nav {
            background-color: #d4d1d1;
            padding: 50px;
            text-align: center;
        }

            nav a {
                text-decoration: none;
                color: #051358;
                padding: 20px 20px;
                margin: 0 5px;
                border-radius: 0px;
                background-color: #74baef;
            }

                nav a:hover {
                    background-color: #fff;
                }

        footer {
            background-color: #1c0c76;
            color: #fff;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <header>
        <h1>Thông Tin Sinh Viên - Đại học Nguyễn Tất Thành</h1>
    </header>



    <nav>
        <a href="thongtinsinhvien.html">Thông Tin Sinh Viên</a>
        <a href="thongtinlop.html">Thông Tin Lớp</a>
        <a href="danhmucmonhoc.html">Danh Mục Môn Học</a>
        <a href="bangdiemhoctap.html">Bảng Điểm Học Tập</a>
        <a href="ketquahoctap.html">Kết Quả Học Tập</a>
        <a href="lichhoc.html">Lịch Học</a>
        <a href="diemrenluyen.html">Điểm Rèn Luyện</a>
    </nav>
    <div>
        @RenderBody()
    </div>
    <footer>
        <p>&copy; 2024 Đại học Nguyễn Tất Thành</p>
    </footer>
    
</body>
</html>
